html{
    /* background-color: yellowgreen; */
    /* padding: 50px; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.main{
    display: flex;
    height: 400px;
    align-items: center;
    justify-content: center;
    background-color: rgb(35, 140, 201);
}

.historico{
    height: 350px;
    background-color: rgb(189, 59, 59);
    padding: 30px;
}

.busca{
    height: 350px;
    background-color: violet;
    margin-left: 10px;
    padding: 30px;
}

#divBuscaCidade{
    background-color: burlywood;
}

.divCidade{
    background-color: springgreen;
    display: flex;
    align-items: center;
    justify-content: center;
}

#divLabelBusca{
    margin-bottom: 10px;
}

#inputBusca{
    width: 70%;
    height: 35px;
    padding: 5px;
    font-size: 14pt;
    border-radius: 10px;
    border: none;
}

#btnInputBusca{
    height: 35px;
    margin-left: 10px;
    font-size: 14pt;
}

#dadosClima{
    padding: 10px 30px;
}

.cityData{
    display: flex;
}

.atributo{
    margin-right: 10px;
    font-weight: 600;
}